/* Untuk Tablet */
@media all and (max-width: 1000px) {
    .anggota {
      width: 100%;
      margin-bottom: 50px;
    }
    
    .top-wrapper h1 {
      font-size: 32px;
    }
    
    .heading h2 {
      font-size: 20px;
    }
    .card {
    
      width: 40%;
      margin: 10px 20px;
      
    }

  }
  
  
  /* Untuk Smartphone */
  @media all and (max-width: 670px) {
    .anggota {
      width: 100%;
    }
    .card {
      width: 60%;
      margin-bottom: 50px;
      margin-left: 80px;
    }
    
    footer {
      text-align: center;
    }
    
    .btn {
      width: 100%;
    }
    
    .facebook {
      margin-bottom: 10px;
    }
    
    .top-wrapper {
      text-align: left;
    }

    .banner-wrapper h4 h1{
      font-size: 24px;
      line-height: 36px;
    }

    .banner-wrapper p{
      font-size: 14px;
      line-height: 20px;
    }
    
    /* Tambahkan CSS untuk header-right */
    .header-right{
      display:none;
    }

    .menu-icon{
      display:block;
    }
    
    .top-wrapper h1 {
      font-size: 24px;
      line-height: 36px;
    }
    
    .top-wrapper p {
      font-size: 14px;
      line-height: 20px;
    }
  }