* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: "Lucida Grande";
  }
  
  a {
    text-decoration: none;
  }
  
  .clear {
    clear: left;
    
  }
  
  .container {
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
  }

  .anggota-wrapper {
    padding-bottom: 80px;
    margin-bottom: 10px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #f7f7f7;
    text-align: center;
    
  }
  
  .heading {
    padding-top: 80px;
    padding-bottom: 50px;
    color: #5f5d60;
  }
  
  .heading h2 {
    font-weight: normal;
    color: #424242;
    text-align: center;
  }
  
  .anggota {
    float: left;
    width: 100%;
    
  }
  
  .anggota-icon {
    position: relative;
  }
  
  .anggota-icon img{
    width: 50%;
  }
  .anggota-icon p {
    width: 100%;
    font-weight: bold;
    color:#37474F;
    font-size: 20px;
  }
  
  .text-contents {
    width: 80%;
    display: inline-block;
    margin-top: 10px;
    font-size: 15px;
    color: #263238;
    line-height: 25px;
  }

  .card{
    width: 18%;
    background-size: cover;
    box-shadow: 1px 1px 4px black;
    border-radius: 10px;
    margin-left: 20px;
    float: left;
    background-color: white;
}
.card .img img{
    width: 100%;
    height: 150px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    float: left;
}
.profile{
    text-align: center;
    
}

.profile p{
  text-align: justify;
  padding:0 20px;
  
  
}
.profile img{
    width: 100px;
    height: 100px;
    border: 3px solid white;
    margin-top: -45px;
    border-radius: 50%;
    background-color: teal;
    transition: transform 0.5s;
    cursor: pointer;
}

.profile img:hover{
    transform: scale(1.1);
}

.profile h6{
    margin-top: -18px;
    color: grey;
    letter-spacing: 4px;
    padding: 1px 3px ;
    
}

.icons a{
    text-decoration: none;
    color: black;
    margin: 10px 20px;
    font-size: 20px;
    display: inline-block;
    transition: transform 0.6s;
}

.icons{
    margin-left: 25px;
}
.icons a:hover{
    color: teal;
    transform: scale(1.5);
}
/*TERAKHIR*/

/* MUNIR AWAL */
header {
  height: 65px;
  width: 100%;
  color: #fff;
  background-color: rgba(34, 49, 52, 0.9);
  position: fixed;
  top: 0;
  z-index: 1000;
}


.header-left{
  float: left;
  margin-top: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

.header-left span{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
}

.header-right{
  float: right;
  margin-right: 20px;
  color: #f7f7f7;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right li{
  font-family: Arial, Helvetica, sans-serif;
  list-style: none;
  float: left;
  margin-left: 20px;
  color: white;
}

.header-right a:hover{
background-color: rgba(288, 288, 288, 1);
color: teal;
}


/* Tambahkan CSS untuk menu-icon */
.menu-icon {
  color: white;
  float: right;
  font-size: 50px;
  padding: 21px 0;
  display:none;
}

footer{  
  height: 65px;
  width: 100%;
  color: #fff;
  background-color: rgba(34, 49, 52, 0.9);
}

footer h4{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  text-align: center;
  padding-top: 25px;
}

.menu-icon {
  color: white;
  float: right;
  font-size: 20px;
  margin-top: 25px;
  display: none;
}
/* AKHIR HEADER */

/* MAIN PAGE */
.banner-wrapper{
  height: 700px;
  background-image: url(assets/top.jpg);
  background-size: cover;
  text-align: center;
  color: white;
  padding: 180px 0px 100px 20px;
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
}

.banner-wrapper h4{
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: normal;
  
}

.banner-wrapper h1{
font-size: 50px;
padding-bottom: 40px;
}

.banner-wrapper p{
  font-family: "Roboto",sans-serif;
  font-size: 20px;
  font-weight: normal;
  letter-spacing: 3px;
  padding-bottom: 20px;
}

/* AKHIR MAIN PAGE */
/*Online Academy*/
.training-wrapper {
  padding-top: 40px;
  padding-bottom:150px;
  text-align: center;
  background-image: url(assets/bg_01.png); 
  background-size: cover;
  background-position: center; 
}

.training {
  padding: 10px 40px;
  background-color: #26A69A;
  cursor: pointer;
  box-shadow: 0 7px #004D40;
  border-radius: 5px;
}

.training:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

.training-wrapper .heading h2{
text-align: center;
color: black;
font-weight: bolder;
font-size: 45px;
font-family: "Roboto",sans-serif;
padding-bottom: 50px;
border-bottom: 2px grey solid;
}

.training-wrapper .heading p{
  text-align: justify;
  color: black;
  font-family: "Roboto",sans-serif;
  margin-bottom: 80px;
  margin: 80px 0;
  font-size: 20px;
  line-height: 40px;
  }